<%- include("partials/header") %>

<h1>Contact</h1>
<p><%= contactContent %></p>
<hr/>
<p>Tel: +123456789</p>
<p>Email: me@gmail.com</p>
<p>Address:</p>
<p>
  123 Real Street<br />
  Some City<br />
  Some Country <br />
</p>
<a href="https://www.linkedin.com/in/wattana-silangam/"><ion-icon name="logo-linkedin"></ion-icon></a>
<br/>
<a href="https://github.com/wattanasila"><ion-icon name="logo-github"></ion-icon></a>
<br/>
<a href="https://www.instagram.com/wattysi/"><ion-icon name="logo-instagram"></ion-icon></a>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

<%- include("partials/footer") %>